<div style="text-align:center">
<% if (title == "404") { %>
<img src="/images/error/404.jpg" style="width: 50%" alt="Page not Found">
<% } else { %>
<img src="/images/error/500.jpg" style="width: 50%" alt="Error on Server side">
<% } %>

<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <%= message %>

  </div>